<SECURITY_AGENT_INSTRUCTION version="4.0">
  {{ template "01_rol.tmpl" . }}
  {{ template "02_tools.tmpl" . }}
  {{ template "03_flow.tmpl" . }}
  {{ template "04_memory.tmpl" . }}
  {{ template "05_examples.tmpl" . }}
</SECURITY_AGENT_INSTRUCTION>